@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


/* ----------- Page elements ----------- */
body {
    font-family: 'Open Sans', sans-serif;
}
nav {
    height: 120px;
    border-bottom: 1px solid rgb(39, 47, 50);
}
header {
    padding: 20px 0px 20px 0px;
}
section {
    padding: 70px 0px 70px 0px;
}

/* ----------- Typography ----------- */
h1 {
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 20px;
}
h4 {
    text-transform: uppercase;
    color: rgb(46, 204, 113);
    margin-bottom: 20px;
}
p.lead {
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 30px;
}
p {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
    color: rgb(39, 47, 50);
    margin-bottom: 20px;
}
a {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: rgb(46, 204, 113);
}
a:hover {
    color: rgb(39, 174, 96);
    text-decoration: none;
}

/* ----------- Images ----------- */
img#logo {
    width:200px;
}
img#banner {
    width: 500px;
}
img.screenshot {
    width: 250px;
}

/* ----------- Forms ----------- */
input {
    height:30px; /* Must match button height */
}

/* ----------- Buttons ----------- */
.btn {
    font-size: 18px;
    padding: 15px 30px;
}
.btn-success {
    background-color: rgb(46, 204, 113);
}
.btn-success:hover {
    background-color: rgb(39, 174, 96);
}

/* ----------- Helper Classes ----------- */
.verticalAlign {
    display: flex;
    align-items: center;
}
.bgSecondary {
    background-color: rgb(244, 245, 250);
}
.bgPrimary {
    background-color: rgb(255, 255, 255);
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    nav {
        height: 80px;
    }
    header {
        margin: 0px 0px 40px 0px;
    }

    img#logo {
        width: 150px;
    }
    img#banner {
        display: none;
    }
    img.screenshot {
        width: 300px;
    }

    .users img {
        width: 300px;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}
